body {
  margin: 0;
  font-family: Inter, sans-serif;
  color: white;
  background-color: beige;
}

#root {
  width: 550px;
  height: 700px;
  background-color: white;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f55a5a;
  height: 55px;
}

.header > img {
  width: 24px;
  margin-right: 7px;
}

.header > h1 {
  font-weight: 500;
  font-size: 0.9rem;
}
