body {
  margin: 0;
  font-family: Inter, sans-serif;
  color: white;
  background-color: beige;
}

#root {
  width: 550px;
  height: 700px;
  background-color: white;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f55a5a;
  height: 55px;
}

.header > img {
  width: 24px;
  margin-right: 7px;
}

.header > h1 {
  font-weight: 500;
  font-size: 0.9rem;
}

article.journal-entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 470px;
  height: 168px;
  color: #2b283a;
  padding: 40px 30px 40px 30px;
}

article.journal-entry .marker-icon {
  width: 7px;
  height: 10px;
  margin-right: 4px;
}

article.journal-entry .main-image-container {
  flex-shrink: 0;
  width: 125px;
  height: 168px;
  border-radius: 5px;
  overflow: hidden;
}

article.journal-entry .main-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

article.journal-entry .content {
  box-sizing: border-box;
  padding-top: 16px;
  padding-left: 25px;
  width: 100%;
  height: 100%;
}

article.journal-entry .location {
  font-size: 0.625rem;
  font-weight: 400;
  letter-spacing: 2px;
  margin-right: 10px;
}

article.journal-entry .google-maps-link {
  font-size: 0.625rem;
  font-weight: 400;
  text-decoration: underline;
  color: #918e9b;
}

article.journal-entry .title {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 1.5625rem;
  font-weight: 700;
}

article.journal-entry .dates {
  font-size: 0.625rem;
  font-weight: 700;
}

article.journal-entry .description {
  font-size: 0.625rem;
  font-weight: 400;
}
